<!DOCTYPE html>
<html lang="en">
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap" rel="stylesheet">
</head>

<body>

  <main>
    <section class="box">
      <h1>
         Welcome!
      </h1>
      <div class="container p-5">
          <article class="link">
            <a class="input button is-warning is-outlined" href="/register">
                Register
            </a>
            <a class="input button is-warning is-outlined" href="/login">
              Login
          </a>
        </article>
      </div>
  </section>
  </main>
</body>

</html>