@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


// Variables

$backgroundColor: rgb(255, 255, 255);
$lightGreen : #94c78e;
$lightBlue : #3976cf;
$greenColor : #4f9849;
$blueColor: #012c71;
$greyColor: gainsboro;
$fontFamily: 'Roboto', sans-serif; 
$h1: 2rem; 
$h2: 1.5rem;
$text: 1rem; 
$button: 1px solid;
$radius : 25px 25px 0 0;

#header {
    background-color: $backgroundColor;
}
// Modifs
.container {

        width: 100%;

    .navbar {

        background-color: $backgroundColor;
        width: 100%;

        .navbar-menu {

            background-color: $backgroundColor;
        
            .navbar-dropdown {
                background-color: $backgroundColor;

                .navbar-divider {
                    background-color: $backgroundColor;
                }
            }

            .navbar-item {
                color: $greenColor;
                background-color: $backgroundColor;
            }

            .navbar-item:hover {
                background-color: $backgroundColor;
            }

            .navbar-link {
                color: $greenColor;
                background-color: $backgroundColor;
            }

            .navbar-link:hover {
                background-color: $backgroundColor;
            }
        }   
    }
}
