@import "./societe-de-transport.scss";

main {

  h1{
    font-size: xx-large;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
  }

  article {
    display: flex;
    flex-flow: row nowrap;

    div {
      width: 20%;
    }

    h2 {
      width:20%;
    }
  }

  .data-highlight {
    font-size: 1.2em;
    font-weight:900;
  }
}